ci:
  skip: [pip-compile, toml-lint, toml-format, deno-fmt]

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-xml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: name-tests-test
        args:
          - --pytest-test-first
      - id: trailing-whitespace
  # Python
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args:
          - "--check-untyped-defs"
          - "--ignore-missing-imports"
        additional_dependencies:
          - PyGObject-stubs
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      # Taplo
      - id: toml-lint
        name: taplo lint
        entry: taplo lint
        types_or: [toml]
        language: system
      - id: toml-format
        name: taplo format
        entry: taplo format
        types_or: [toml]
        language: system
      # Deno
      - id: deno-fmt
        name: deno fmt
        entry: deno fmt
        types_or: [css, json, markdown, yaml]
        language: system
  # PIP requirements
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.12
    hooks:
      - id: pip-compile
        name: pip-compile requirements.in
        args:
          - --generate-hashes
          - requirements/requirements.in
          - -o
          - requirements/requirements.txt
        files: ^requirements/requirements.in$
      - id: pip-compile
        name: pip-compile requirements-dev.in
        args:
          - --generate-hashes
          - requirements/requirements-dev.in
          - -o
          - requirements/requirements-dev.txt
        files: ^requirements/requirements-dev.in$
